<!DOCTYPE html>
<html>
<head>
    <title>Visual Validation Gallery</title>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-lightbox/0.3/bootstrap-lightbox.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-lightbox/0.3/bootstrap-lightbox.js"></script>
</head>
<body>
    <div class="container">
        <div id="content">
              <div class="panel-group" id="accordion">
            {{#each data}}
                <div class="panel panel-default {{#if isEqual}}panel-success{{else}}panel-danger{{/if}}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{uid true}}">
                                {{this.result.pagetitle}}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{uid false}}" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {{#each this.result.paths}}
                            <div class='col-md-4'>
                                <a href="../{{this.path}}" class="thumbnail">
                                    <img data-src="holder.js/100%x180" src="../{{this.path}}" style="width:200px;"/>
                                </a>
                                <a href="{{host}}{{../this.result.url}}">{{this.hostLabel}}</a>
                            </div>
                            {{/each}}
                            <div class='col-md-4'>
                                <a href="../{{this.diff}}" class="thumbnail">
                                    <img src="../{{this.diff}}" style="width:200px;"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>
    </div>
</body>
</html>